DATABASE_URL="postgresql://USER:PSWD@IP/DATABASE"
DISCORD_CLIENT_ID="CLIENT_ID"
DISCORD_CLIENT_SECRET="CLIENT_SECRET"
AUTH_SECRET="SECRET"
AUTH_CALLBACK="https://DOMAIN/api/login/callback"
ADMIN_ID="DISCORD_USER_ID"